* Filter Operation
* &, |, ==
* ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('app4').getOrCreate()

In [5]:
df_spark = spark.read.csv('test1.csv', inferSchema=True, header=True)

In [6]:
df_spark.show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|    Ankit| 45|         3| 15000|
|    Anand| 32|         2| 20000|
| Karishma| 24|         5| 18000|
+---------+---+----------+------+

In [7]:
## Salry of people<=20000
df_spark.filter("salary<=20000").show()

+--------+---+----------+------+
|    Name|age|experience|salary|
+--------+---+----------+------+
|   Sunny| 29|         4| 20000|
|   Ankit| 45|         3| 15000|
|   Anand| 32|         2| 20000|
|Karishma| 24|         5| 18000|
+--------+---+----------+------+

In [8]:
df_spark.filter("salary<=20000").select(['Name', 'age']).show()

+--------+---+
|    Name|age|
+--------+---+
|   Sunny| 29|
|   Ankit| 45|
|   Anand| 32|
|Karishma| 24|
+--------+---+

In [10]:
## Alternative approach
df_spark.filter(df_spark['salary']<=20000).show()

+--------+---+----------+------+
|    Name|age|experience|salary|
+--------+---+----------+------+
|   Sunny| 29|         4| 20000|
|   Ankit| 45|         3| 15000|
|   Anand| 32|         2| 20000|
|Karishma| 24|         5| 18000|
+--------+---+----------+------+

In [11]:
## multiple conditions
df_spark.filter((df_spark['salary']<=20000) & 
                (df_spark['salary']>=15000)).show()

+--------+---+----------+------+
|    Name|age|experience|salary|
+--------+---+----------+------+
|   Sunny| 29|         4| 20000|
|   Ankit| 45|         3| 15000|
|   Anand| 32|         2| 20000|
|Karishma| 24|         5| 18000|
+--------+---+----------+------+

In [12]:
df_spark.filter((df_spark['salary']<=20000) | 
                (df_spark['salary']>=15000)).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|    Ankit| 45|         3| 15000|
|    Anand| 32|         2| 20000|
| Karishma| 24|         5| 18000|
+---------+---+----------+------+

In [13]:
## Not operation
df_spark.filter(~(df_spark['salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+